<?xml version='1.0' encoding='utf-8'?>
<widget id="net.horaguchi.ponzu" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ponzu</name>
    <description>
        A roguelike turn-based Ponzu
    </description>
    <author email="koji.horaguchi@gmail.com" href="http://horaguchi.github.io/">
        Koji Horaguchi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <!-- <preference name="Orientation" value="landscape" /> -->
</widget>
